.inner-container {
    gap: 1.5rem;
    background: linear-gradient(to right, rgb(90, 54, 0), rgb(116, 76, 17));
    padding: 2rem;
    border-radius: 10px;
    border: 4px solid rgb(90, 54, 0);
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.inner-container .primaryText {
    color: white;
    font-weight: 600;
}

.inner-container .secondaryText {
    color: rgba(255, 255, 255, 0.911);
    font-weight: 200;
}

.inner-container .button {
    background: gold;
    color: var(--brown);
}