.c-container {
    justify-content: space-between;
}

.c-right .image-container {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    margin: auto;
    border: 2px solid rgba(197, 164, 17, 0.37);
}

.c-container>div{
    flex: 1;
}

.c-right {
    width: 100%;
}

.c-left {
    gap: 0.5rem;
}

.contactModes {
    margin-top: 2rem;
    gap: 1.5rem;
    width: 100%;
    justify-content: space-between;
}

.contactModes .row {
    gap: 1.5rem;
}

.contacts {
    width: 100%;
    justify-content: space-between;
}

.mode {
    width: 100%;
    padding: 1rem;
    border: 0.8px solid rgb(128, 128, 128, 0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all .3s ease-in;
}

.mode .button {
    width: 50%;
    background: var(--brown);
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.mode >:nth-child(1) {
    width: 100%;
    gap: 1.6rem;
}

.mode .detail .primaryText {
    font-size: 1.1rem;
    font-weight: 600;
}

.mode .detail .secondaryText {
    font-weight: 300;
}

.mode:hover {
    scale: 1.01;
    box-shadow: var(--shadow);
}

.mode .button:hover{
    background: var(--blue-gradient);
    color: var(--black);
    scale: 0.9;
}

@media (max-width: 1024px) {
    .c-container {
        flex-direction: column;
    }
    .c-right {
        justify-content: center;
        width: 100%;
    }
    .contactModes {
        width: 100%;
    }

    .row {
        flex-direction: column;
        width: 100%;
    }
    .mode{
        width: 100%;
    }
    
    .c-container .image-container {
    margin: auto;
    height: 25rem;
    width: 100%;
    border: 2px solid rgba(197, 164, 17, 0.37);
    }

    .mode .detail .primaryText {
    font-size: 1rem;
    font-weight: 600;
    }

    .mode .detail .secondaryText {
        font-size: .5rem;
        font-weight: 300;
    }

    .mode .button {
    font-size: .7rem;
    font-weight: 600;
    }


    
}