.h-wrapper {
    color: #fff;
    position: relative;
    z-index: 1;
}

.h-container {
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
}

.h-menu {
    gap: 2rem;
}

.h-menu>*:hover {
    cursor: pointer;
}