.f-container {
    justify-content: space-between;
}

.f-left {
    gap: .5rem;
}

.f-left .secondaryText {
    font-weight: 400;
}

.f-right {
    gap: .5rem;
}

.f-right span:nth-child(1) {
    font-size: 1.6rem;
}

.f-right span:nth-child(4) {
    gap: 1.5rem;
    margin-top: .5rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .f-container {
        justify-content: center;
    }
    
    .f-container>div {
        align-items: center;
        text-align: center;
    }

    
    
}